{% extends "base.html" %}
{% block title %}Dev Elements{% endblock %}
{% block content%}
{% load filter %}
<a href="{% url 'Devtools' %}" class="btn" style="background-color: #575656ba;color:white;position:  absolute;left: 25px;">回上一頁</a>
<div class="row">
  <div class="col-9">
    <h1>Elements</h1>
  </div>
  <div class="col-3" style="text-align: center;background-color: #e3e3e381;width: 20%;height: 130px;border-radius: 15px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;margin: 0px 30px;">
    {% if missions_complete_count == missions_info|length %}
    <h2 style="margin: 15px;">Mission</h2>
    <span class="badge bg-success" style="margin: 0px 0px 15px;font-size: 22px;">
        Complete {{ missions_complete_count }}/{{ missions_info|length }}
    </span>
    {% else %}
    <h2 style="margin: 15px;">Mission</h2>
    <span class="badge bg-danger" style="margin: 0px 0px 15px;font-size: 22px;">
        InComplete {{ missions_complete_count }}/{{ missions_info|length }}
    </span>
    {% endif %}
</div>
<div class="card" style="margin: 20px 0px;">
  <div class="card-body">
    <h3>Elements</h3>
    <p>Elements 主要用來檢視與調整 DOM 元素以及 Styles CSS 屬性。</p>
    <img src="https://miro.medium.com/v2/resize:fit:1100/format:webp/1*uYl6d1efnFUX-br6WiREJA.png" alt=""width='50%'>
    <h4>DOM 元素相關</h4>
    <ul>
      <li>編輯 DOM 元素</li>
      <p>點選元素兩下，可快速編輯元素內容、屬性<br>
        點選元素→右鍵→Edit as HTML，可如同在編輯器中編輯 HTML 一般的編輯 DOM 元素</p>
      
      <li>快速收合 DOM 結構</li>
      <p>點選元素→右鍵→ Expand recursively (展開全部子元素)
        點選元素→右鍵→ Collapse children (收合至第一層子元素)</p>
      <img src="https://miro.medium.com/v2/resize:fit:1100/1*mqcNu54fsU4C_iedUjZZgw.gif" alt="" width="50%">
      <li>取得 DOM 元素</li>
      <p>方法一：在 Elements 選取元素，接著在 Console 輸入 $0，即可獲得該元素。亦可獲得 $1、$2..，代表的是上一次選取的元素、上上一次選取的元素..，以此類推。</p>
        <img src="https://miro.medium.com/v2/resize:fit:1100/1*frbHwJCG2nOSXOEizBo1_g.gif" alt="" width="50%">
      <p>方法二：點選元素→右鍵→Copy→Copy JS path，接著在 Console 貼上即可獲取該元素。</p>
        <img src="https://miro.medium.com/v2/resize:fit:1100/1*qHP5kzBKBB3IO933LLKmOg.gif" alt="" width="50%">
      <p>方法三：存下來當作全域變數，DevTools 預設變數名稱為 temp 加上數字，第一個為 temp1，第二個為 temp2.. 以此類推。</p>
        <img src="https://miro.medium.com/v2/resize:fit:1100/1*u6JIrwVFIgT6FDFSr0QB2g.gif" alt="" width="50%">
      <p>畫面位移至被選取的元素位置<br>
        點選元素→右鍵→ Scroll into view</p>
    </ul>
    <h4>Styles 相關</h4>
    <ul>
      <li>編輯 CSS</li>
      <ol>
        <li>點選欲編輯的 DOM 元素後，於 Styles 中的 element.style 輸入 CSS 屬性，可以直接看到編輯結果</li>
        <li>點選 :hov ，可選取不同狀態</li>
        <li>點選 + 號，可進行偽類、偽元素的編輯</li>
      </ol>
      <li>查看所有屬性</li>
      <p>box model 用以查看元素大小的組成要素(margin、border、padding、content)，這個盒子對於剛學習 CSS 的人來說，非常有幫助哦！<br>
        box model 下方的列出各屬性值，也可點選 show all 查看所有包含繼承的屬性。</p>
        <img src="https://miro.medium.com/v2/resize:fit:1100/format:webp/1*98L5qskauT5AJVjKkfEppA.png" alt="" width="50%">
      <li>查找屬性設定來源</li>
      <p>設定 CSS 屬性時，有時因層級設定等關係，畫面沒有如預期的顯示出我們想要設定的樣式，這時很需要知道目前的屬性值來源。以找出 color 屬性設定來源為例，有兩種方式。</p>
      <ol>
        <li>方法一：在 Filter 欄位中查找特定屬性。</li>
        <img src="https://miro.medium.com/v2/resize:fit:1100/1*hTKnK6YWN4ICwixJUF8cHQ.gif" alt="" width="50%">
        <li>方法二：查找屬性值列表，點選 color →來源箭頭，導向來源</li>
        <img src="https://miro.medium.com/v2/resize:fit:1100/1*pgFIYrKjLpt4M2BvDKU8Vw.gif" alt="" width="50%">
      </ol>
    </ul>
  <p>reference : <a href="https://developer.chrome.com/docs/devtools/dom/">Get started with viewing and changing the DOM</a>、<a href="https://developer.chrome.com/docs/devtools/dom/properties/">View the properties of DOM objects</a>、<a href="https://reurl.cc/z6o94k">開發必備，摸索不完的 Chrome DevTools 小技巧之 Element 篇</a></p>
  </div>
</div>

</div>
<div class="card" style="margin: 20px 0px;">
  <div class="card-body">
      <h3 class="card-title">Mission</h3>
      <hr>
      {% for mission_info in missions_info %}
      <ul>
          <li>
              <h5>{{ mission_info.mission.title }}</h4>
                  <hr>
                  <div class="card">
                      <div class="card-body">
                          <div class="row" style="align-items: center;">
                              <h5 class="card-title col-1" style="display: inline;">任務{{ forloop.counter }}</h5>
                              <div class="col-11">
                                  <div style="width: 110px;display: inline-block;text-align: center;">
                                      {% if mission_info.is_completed %}
                                      <span class="badge bg-success">
                                          <h6 style="margin: 0;">Complete</h6>
                                      </span>
                                      {% else %}
                                      <span class="badge bg-danger">
                                          <h6 style="margin: 0;">Incomplete</h6>
                                      </span>
                                      {% endif %}
                                  </div>
                                  <div style="width: 110px;display: inline-block;">
                                      <span class="badge text-bg-info" style="font-size: 16px;">嘗試次數:{{mission_info.attempts }}</span>
                                  </div>
                                  <div style="width: 185px;display: inline-block;">
                                      <span class="badge text-bg-warning" style="font-size: 16px;">最後提交:{{mission_info.last_attempt|formatTime }}</span>
                                  </div>
                              </div>
                          </div>
                          <p class="card-text">{{ mission_info.mission.description }}</p>
                          <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                              data-bs-target="#{{ mission_info.mission.alias }}">
                              點我挑戰
                          </button>
                      </div>
                  </div>
          </li>
      </ul>
      {% endfor %}
  </div>
</div>

<!-- modal視窗 -->
{% include 'modal_template.html' %}
<!-- ElementsComputed -->
<div class="modal fade" id="ElementsComputed" tabindex="-1" aria-labelledby="ElementsComputedLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ElementsComputedLabel"><strong>任務1</strong><br>查看元素大小、間距</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post">
        {% csrf_token %}
        <div class="modal-body">
          <p>請使用Chrome DevTools的Elements功能，查出這個矩形的實際寬度
            <br>
            <br>
            目標:請輸入矩形的實際寬度(不包括padding、border、margin)
          </p>
          <div id="computed-div"
            style="width: 200px; height: 100px; border: 1px solid #000; padding: 20px; margin: 10px; background-color: rgb(196, 196, 196);">
          </div>
          <div style="margin-top: 5%;">
            <label>答案：</label>&emsp;
            <input type="text" name="answer" class="form-control" style="width: 60%;display: inline;"
              placeholder="請輸入純數字，單位為px ex.123.45">
            <input type="hidden" name="question" value="ElementsComputed">
            <input type="hidden" name="mission_id" value="1">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">離開</button>
          <button type="button" class="btn btn-success submit-btn">提交</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- OverMaxLength -->
<div class="modal fade" id="OverMaxLength" tabindex="-1" aria-labelledby="OverMaxLengthLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="OverMaxLengthLabel"><strong>任務2</strong><br>查看元素大小、間距</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post">
        {% csrf_token %}
        <div class="modal-body">
          <p>請使用Chrome DevTools的Elements功能，送出超過輸入框限制長度的內容
            <br>
            <br>
            目標:請輸入超過輸入框限制長度的內容
          </p>
          <div style="margin-top: 5%;">
            <label>答案：</label>&emsp;
            <input type="text" name="answer" class="form-control" style="width: 60%;display: inline;" maxlength="10">
            <input type="hidden" name="question" value="OverMaxLength">
            <input type="hidden" name="mission_id" value="5">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">離開</button>
          <button type="button" class="btn btn-success submit-btn" >提交</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    // 提交按鈕事件
    $(".submit-btn").click(function () {
      event.preventDefault();
      var id = $(this).parents(".modal").attr("id");
      var answer = getMissionAnswer(id);
      checkAnswer(id, answer);
    });

    // 取得任務答案
    function getMissionAnswer(id) {
      switch (id) {
        case "ElementsComputed":
          return $("#computed-div").width();
        case "OverMaxLength":
          return 10;
        default:
          return 0;
      }
    }

    // 檢查答案
    function checkAnswer(id, answer) {
      var data = {
        input: $("#" + id + " input[name='answer']").val(),
        answer: answer,
        question: $("#" + id + " input[name='question']").val(),
        mission_id: $("#" + id + " input[name='mission_id']").val(),
        csrfmiddlewaretoken: "{{ csrf_token }}",
      };
      AjaxCheckAnswer(data, function (response) {
        $("#" + id).modal("hide");
        var mission = $("#" + id + "Label").text();
        if (response.isCorrect) {
          alertMissionComplete(mission);
        } else {
          alertMissionFail(mission);
        }
      });
    }
  });
</script>
{% endblock %}